.about-slide {
  &__title {
    font-size: 1.5rem;
    margin-bottom: 35px;
    padding-right: 35px;
  }

  &__text {
    font-size: 1.5rem;
    line-height: 1.5;

    &:last-child {
        margin-bottom: 0;
    }
  }
}
