<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <nav class="footer-nav">
        <h3 class="footer-nav__title logo">
          <span class="logo__dec">V</span>ilas
        </h3>
        <a href="#" class="footer-nav__link">Terms & Condition</a>
        <a href="#" class="footer-nav__link">Contact us</a>
        <a href="#" class="footer-nav__link">Support Desk</a>
        <a href="#" class="footer-nav__link">Privacy Policy</a>
      </nav>
      <nav class="footer-nav">
        <h3 class="footer-nav__title">Useful Links</h3>
        <a href="#" class="footer-nav__link">Common FAQs</a>
        <a href="#" class="footer-nav__link">About Us</a>
        <a href="#" class="footer-nav__link">Site Map</a>
        <a href="#" class="footer-nav__link">Offer</a>
      </nav>
      <div class="footer-nav">
        <h3 class="footer-nav__title">Recent Blog</h3>
        <p class="footer-nav__text">
          <span>Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit.
          Suspendisse consectetur neque quis
        </p>
        <p class="footer-nav__text">
          <span>Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit.
          Suspendisse consectetur neque quis
        </p>
      </div>
      <div class="footer-nav">
        <h3 class="footer-nav__title">Newslatter</h3>
        <p class="footer-nav__text">
          Subscribe to get the latest news, update and offer information. Don't
          worry, we won't send spam!
        </p>

        <form action="#" class="footer-form">
          <input type="email" name="email" class="footer-form__input" />
          <button
            disabled
            type="submit"
            class="btn footer-form__button js-btn-submit"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="footer__sub">A Product from “AFLAME”</div>
</footer>
