<header class="header">
  <div class="container">
    <div class="header__holder">
      <a href="#" class="logo">
        <img src="images/logo.png" alt="logo" />
      </a>

      <button type="button" class="burger">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__plus">+</span>
      </button>
    </div>
  </div>

  <nav class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__item">
        <a href="#" class="header-nav__link"> Home </a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link"> Design </a>
      </li>
      <li class="header-nav__item">
        <a href="#" class="header-nav__link"> Test </a>
      </li>
    </ul>
  </nav>
</header>
