<!DOCTYPE html>
<html lang="en">
  @@include('../partials/head/head.html')

  <body>
    <div class="wrapper">
      <button type="button" class="burger">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__plus">+</span>
      </button>
      <a href="#" class="logo">
        <img src="images/logo.png" alt="logo" />
      </a>
      <button type="button" class="btn">button</button>
      <a href="#" class="btn">link</a>
      <input type="button" value="button" />
      <input type="submit" value="Submit" />
      <button type="submit" class="btn">submit</button>
      <div class="container">
        <button type="button" class="arrow arrow-top"></button>
        <button type="button" class="arrow arrow-bottom"></button>
        <h1>Want Perfact Output?</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quis
          autem reprehenderit optio. Ipsa et, unde ea placeat mollitia
          voluptatem eveniet doloribus quam ullam libero illum modi nisi beatae
          optio.
        </p>
      </div>
    </div>
    @@include('../partials/scripts/common.html')
  </body>
</html>
