.footer {
  background: var(--second-color);

  &__sub {
    background: var(--color-main);
    color: var(--second-color);
    font-family: var(--font-serif);
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    padding: 15px 0;
  }
}

.footer-wrapper {
  @include d-flex;
  padding: 100px 0;

  @include media('<=desktop') {
    padding: 40px 0;
  }

  @include media('<=tablet') {
    flex-wrap: wrap;
  }

  @include media('<=phone') {
    flex-direction: column;
  }
}

.footer-nav {
  @include d-flex-column;
  max-width: 250px;
  width: 33.333%;
  margin: 0 auto;

  @include media('<=desktop') {
    width: 50%;
    max-width: 300px;
    margin: 30px auto;
  }

  @include media('<=phone') {
    width: 100%;
    text-align: center;
    margin: 15px auto;
  }

  &__title {
    margin-bottom: 50px;
    font-size: 2rem;

    @include media('<=tablet') {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-family: var(--second-font-sans-serif);
    font-size: 1.5rem;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-weight: bold;
    }
  }
  &__link {
    font-family: var(--second-font-sans-serif);
    font-weight: 400;
    display: inline-block;
    margin-bottom: 17px;
    font-size: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-form {
  position: relative;
  height: 42px;
  border-radius: 10px;
  overflow: hidden;
  &__input {
    @include size(100%, 100%);
    background: var(--color-white);
    border: 0;
    outline: 0;
    padding-right: 100px !important;
  }

  &__button {
    position: absolute;
    min-width: auto;
    height: 100%;
    right: 0;
    padding: 0 20px;
    border-radius: 0;
    font-size: 1.5rem;
  }
}
