<section class="about">
  <div class="container">
    <div class="about-wrapper">
      <div class="about-info">
        <p class="about-info__text">
          <span class="about-info__title">Vilas is</span>
          ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          consectetur neque quis imperdiet semper. Proin quis ex et felis
          imperdiet lacinia. Nulla ultrices justo eu enim rhoncus, faucibus
          dapibus arcu gravida. In vehicula sagittis diam non maximus. Cras sit
          amet suscipit turpis. Curabitur rutrum et odio a maximus. Inte-
        </p>
      </div>

      <div class="about-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide about-slide">
            <h3 class="h3 about-slide__title">
              Professional PSD Template Design
            </h3>
            <p class="about-slide__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse consectetur neque quis imperdiet semper. Proin quis ex
              et felis imperdiet lacinia. Nulla ultrices justo eu enim rhoncus,
              faucibus dapibus arcu gravida. In vehicula sagittis diam non
              maximus. Cras sit amet suscipit turpis. Curabitur rutrum et odio a
              maximus. Integer congue a magna non egestas. Etiam a neque et quam
              vulputate ullamcorper 
            </p>
          </div>
          <div class="swiper-slide about-slide">
            <h3 class="h3 about-slide__title">
              Professional PSD Template Design
            </h3>
            <p class="about-slide__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse consectetur neque quis imperdiet semper. Proin quis ex
              et felis imperdiet lacinia. Nulla ultrices justo eu enim rhoncus,
              faucibus dapibus arcu gravida. In vehicula sagittis diam non
              maximus. Cras sit amet suscipit turpis. Curabitur rutrum et odio a
              maximus. Integer congue a magna non egestas. Etiam a neque et quam
              vulputate ullamcorper vel eu metus. Donec
            </p>
          </div>
          <div class="swiper-slide about-slide">
            <h3 class="h3 about-slide__title">
              Professional PSD Template Design
            </h3>
            <p class="about-slide__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse consectetur neque quis imperdiet semper. Proin quis ex
              et felis imperdiet lacinia. Nulla ultrices justo eu enim rhoncus,
              faucibus dapibus arcu gravida. In vehicula sagittis diam non
              maximus. Cras sit amet suscipit turpis. Curabitur rutrum et odio a
              maximus. Integer congue a magna non egestas. Etiam a neque et quam
              vulputate ullamcorper vel eu metus. Donec
            </p>
          </div>
          <div class="swiper-slide about-slide">
            <h3 class="h3 about-slide__title">
              Professional PSD Template Design
            </h3>
            <p class="about-slide__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse consectetur neque quis imperdiet semper. Proin quis ex
              et felis imperdiet lacinia. Nulla ultrices justo eu enim rhoncus,
              faucibus dapibus arcu gravida. In vehicula sagittis diam non
              maximus. Cras sit amet suscipit turpis. Curabitur rutrum et odio a
              maximus. Integer congue a magna non egestas. Etiam a neque et quam
              vulputate ullamcorper vel eu metus. Donec
            </p>
          </div>
          <div class="swiper-slide about-slide">
            <h3 class="h3 about-slide__title">
              Professional PSD Template Design
            </h3>
            <p class="about-slide__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse consectetur neque quis imperdiet semper. Proin quis ex
              et felis imperdiet lacinia. Nulla ultrices justo eu enim rhoncus,
              faucibus dapibus arcu gravida. In vehicula sagittis diam non
              maximus. Cras sit amet suscipit turpis. Curabitur rutrum et odio a
              maximus. Integer congue a magna non egestas. Etiam a neque et quam
              vulputate ullamcorper vel eu metus. Donec
            </p>
          </div>
        </div>
        <div class="arrows-wrapper">
          <button
            type="button"
            class="about-button-prev arrow arrow-top"
          ></button>
          <button
            type="button"
            class="about-button-next arrow arrow-bottom"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
