<section class="banner">
  <div class="container">
    <div class="banner-holder">
      <h1 class="h1">Want Perfact Output?</h1>
      <h2 class="h2">Let’s join with us :)</h2>
      <p class="sub-title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        consectetur neque quis imperdiet semper. Proin quis ex e
      </p>
      <div class="btn-wrapper">
        <a href="#" class="btn">Design</a>
        <a href="#" class="btn">Developing</a>
      </div>
    </div>
  </div>
</section>
