<section class="project">
  <div class="container">
    <div class="project__holder">
      <h3 class="h2">Latest Published Projects.</h3>

      <div class="project-wrapper">
        <article class="project-item project-item_big">
          <div class="project-item__picture">
            <img src="images/project-images/project_1.jpg" alt="Food picture" />
          </div>

          <div class="project-item__overlay">
            <div class="project-item__link">
              <a href="#">
                <img src="images/icon/eye.png" alt="look" />
              </a>
              <a href="#">
                <img src="images/icon/heart.png" alt="like" />
              </a>
            </div>
            <div class="project-item__footer">
              <h3 class="h3">Food Menu Flyer Template</h3>
              <span class="project-item__theme">Graphic Design</span>
            </div>
          </div>
        </article>
        <article class="project-item">
          <div class="project-item__picture">
            <img src="images/project-images/project_2.jpg" alt="Food picture" />
          </div>

          <div class="project-item__overlay">
            <div class="project-item__link">
              <a href="#">
                <img src="images/icon/eye.png" alt="look" />
              </a>
              <a href="#">
                <img src="images/icon/heart.png" alt="like" />
              </a>
            </div>
            <div class="project-item__footer">
              <h3 class="h3">Food Menu Flyer Template</h3>
              <span class="project-item__theme">Graphic Design</span>
            </div>
          </div>
        </article>
        <article class="project-item">
          <div class="project-item__picture">
            <img src="images/project-images/project_3.jpg" alt="Food picture" />
          </div>

          <div class="project-item__overlay">
            <div class="project-item__link">
              <a href="#">
                <img src="images/icon/eye.png" alt="look" />
              </a>
              <a href="#">
                <img src="images/icon/heart.png" alt="like" />
              </a>
            </div>
            <div class="project-item__footer">
              <h3 class="h3">Food Menu Flyer Template</h3>
              <span class="project-item__theme">Graphic Design</span>
            </div>
          </div>
        </article>
        <article class="project-item">
          <div class="project-item__picture">
            <img src="images/project-images/project_5.jpg" alt="Food picture" />
          </div>

          <div class="project-item__overlay">
            <div class="project-item__link">
              <a href="#">
                <img src="images/icon/eye.png" alt="look" />
              </a>
              <a href="#">
                <img src="images/icon/heart.png" alt="like" />
              </a>
            </div>
            <div class="project-item__footer">
              <h3 class="h3">Food Menu Flyer Template</h3>
              <span class="project-item__theme">Graphic Design</span>
            </div>
          </div>
        </article>
        <article class="project-item project-item_big">
          <div class="project-item__picture">
            <img src="images/project-images/project_7.jpg" alt="Food picture" />
          </div>

          <div class="project-item__overlay">
            <div class="project-item__link">
              <a href="#">
                <img src="images/icon/eye.png" alt="look" />
              </a>
              <a href="#">
                <img src="images/icon/heart.png" alt="like" />
              </a>
            </div>
            <div class="project-item__footer">
              <h3 class="h3">Food Menu Flyer Template</h3>
              <span class="project-item__theme">Graphic Design</span>
            </div>
          </div>
        </article>
        <article class="project-item">
          <div class="project-item__picture">
            <img src="images/project-images/project_4.jpg" alt="Food picture" />
          </div>

          <div class="project-item__overlay">
            <div class="project-item__link">
              <a href="#">
                <img src="images/icon/eye.png" alt="look" />
              </a>
              <a href="#">
                <img src="images/icon/heart.png" alt="like" />
              </a>
            </div>
            <div class="project-item__footer">
              <h3 class="h3">Food Menu Flyer Template</h3>
              <span class="project-item__theme">Graphic Design</span>
            </div>
          </div>
        </article>
        <article class="project-item">
          <div class="project-item__picture">
            <img src="images/project-images/project_6.jpg" alt="Food picture" />
          </div>

          <div class="project-item__overlay">
            <div class="project-item__link">
              <a href="#">
                <img src="images/icon/eye.png" alt="look" />
              </a>
              <a href="#">
                <img src="images/icon/heart.png" alt="like" />
              </a>
            </div>
            <div class="project-item__footer">
              <h3 class="h3">Food Menu Flyer Template</h3>
              <span class="project-item__theme">Graphic Design</span>
            </div>
          </div>
        </article>
      </div>

      <div class="btn-wrapper js-wrapper-more">
        <button type="button" class="btn js-load-more">See All</button>
      </div>
    </div>
  </div>
</section>
