.about {
  background: var(--primary-color);
}

.about-wrapper {
  @include d-flex-align-center;
  padding: 95px 0 76px;

  @include media('<=tablet') {
    flex-direction: column;
    padding: 60px 0;
  }
}

.about-info {
  background: var(--primary-color);
  padding: 55px 65px 50px 65px;
  border-radius: 15px;
  box-shadow: 1px 0px 15px 0px rgba(34, 60, 80, 0.2);
  max-width: 570px;
  width: 100%;
  @include media('<=widescreen') {
    padding: 30px 20px;
  }
  @include media('<=tablet') {
    max-width: none;
    margin-bottom: 20px;
  }

  &__title {
    font-family: var(--headings-font-family);
    font-size: 3rem;
    font-weight: bold;
  }

  &__text {
    font-family: var(--second-font-sans-serif);
    font-size: 1.5rem;
    line-height: 1.2;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

